*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/androidTest/java/com/ctl/indicator/demo/ExampleInstrumentedTest.kt
/indicator/src/androidTest/java/com/ctl/indicator/lib/ExampleInstrumentedTest.kt
/app/src/test/java/com/ctl/indicator/demo/ExampleUnitTest.kt
/indicator/src/test/java/com/ctl/indicator/lib/ExampleUnitTest.kt
.idea
